#div1{
    height: 800px;
    width: 90%;
    margin-left: 30px;
    display: flex;
    border-style: solid;
    background-image: url("https://previews.123rf.com/images/osaba/osaba1705/osaba170500026/78604345-top-view-business-office-desk-background-the-applying-for-a-job-form-and-pen-pencil-eyeglasses-tree-.jpg");

}
#div2{
    height: 50%;
    width: 40%;
    display: flex;
    border-style: solid;
    align-self: center;
    margin-left: 100px;
    background-color: white;

}
#heading{
    margin-left: 170px;
}

#username{
    margin-left: 30px;
    height: 30px;
    width: 350px;
}
#password{
    margin-left: 30px;
    height: 30px;
    width: 350px;
}
#button{
    margin-left: 30px;
    color: white;
    height: 35px;
    width: 70px;
    background-color: blue;
    border-radius: 5px;
    
}
